@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:700);
@import url(https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@300&family=Press+Start+2P&display=swap);
:root{
    --primary:#f9c2ce;
    --light:#eeeeee;
    --dark:#292d3a;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira sans',sans-serif;
}

body{
	/* background-image: url("Download premium vector of Colorful grid lined pastel background vector by Tang about memphis patterns, pattern, seamless pattern, seamless, and memphis 513083.jpg"); */
	/* background-image: url("Download free vector of Girly grid lined seamless background vector by Tang about memphis patterns, seamless pattern, pattern, seamless, and girly pastel website 513081.jpg"); */
	background-image: url("Download Free Vector Art, Stock Photos & Stock Video Footage.jpg");


    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    /* background-position-y: 100px; */
    /* background-position-x: 500px; */
    background-position-y: -12px;
     
     
    
    
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
	/* background-image: linear-gradient(to right,#556DC8,#F96CFF 30%); */
	background-image: linear-gradient(to left,#A1D3D2,#BF90C9,#4957A7,#f681fa);
    /* background-color: #c17cfd; */

    /* background-color:#6A2C70; */
    /* background-color: #f8c4b4; */
    
    padding: 10px 32px;
    border: 2px solid black;
}
h1{
    color: black;
    font-size: 28px;
    font-family: 'Kiwi Maru', serif;
    /* font-weight: 900; */
    letter-spacing: 2px;
    text-transform: uppercase;
}
/* .pizza{
    display: block;
    position: relative;
    z-index: 1;
    user-select: none;
    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}
.pizza span{
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background-color: var(--light);
    border-radius: 6px;
    z-index: 1;
    transform-origin: 0 0;
    transition: 0.4s;
}
.pizza:hover span:nth-child(2){
    transform: translateX(10px);
    background-color: var(--primary);
}
.pizza.is-active span:nth-child(1){
    transform: translate(0px,-2px) rotate(45deg);
}
.pizza.is-active span:nth-child(2){
    opacity: 0;
    transform: translateX(15px);
}
.pizza.is-active span:nth-child(3){
    transform: translate(-3px,3px) rotate(-45deg);
}
.pizza.is-active:hover span{
    background-color: var(--primary);
}*/

.menu{
    display: none;
    flex:1 1 0%;
    justify-content: flex-end;
    margin: 0 -16px;
}
.menu a{
    color: black;
    /* background-color: #C9C9C9; */
    margin:0 16px;
    font-weight: 600;
    text-decoration: none;
    transition: 0.4s;
    padding: 8px 16px;
    border: 2px solid black;
    /* border-left:3px solid #E6E6E6;
    border-top:3px solid #E6E6E6;
    border-right:3px solid #9D9D9D;
    border-bottom:3px solid #9D9D9D; */
    /* border-radius: 99px; */
}
.menu a.is-active, .menu a:hover{
    /* background-color: var(--primary); */
    /* background-color: #55dae4; */
    background-color:#fffb96;
   box-sizing: w;

}


.logout-button{
    transform: translateX(20px);
}

.logout{
    color: black;
    /* background-color: #C9C9C9; */
    margin:0 16px;
    font-weight: 600;
    text-decoration: none;
    transition: 0.4s;
    padding: 8px 16px;
    border: 2px solid black;
} 

.logout:hover{
    background-color:#fffb96;
    
}
@media only screen and (max-width: 670px){
    .logout-button{
        transform: unset;
    }
}

 @media(min-width:768px){
    /* .pizza{
        display: none;
    } */
    .menu{
        display: flex;
    }
} 


.text{

    /* color: var(--dark); */
    color: black;
    /* background-color: #F5CD2F; */
    border: 2px solid black;
    display: table;
    background-color: #fffb96;
    margin: 0px auto 0px auto;
    font-family: 'Kiwi Maru', serif;
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-top: 100px;
    position: relative;
    text-align: center;

}
/* .text,span{
    background-color: #f5cd2fc4;

} */
.images{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;  
   margin-top: 20px; 
   /* margin-top: 100px; */
}

.imag{
    position: relative;

}

.imag img{
    width: 310px;
    height: 180px;
    border: 3px solid #bd76fc;
    border-radius: 13px;
    cursor: pointer;
    margin: 10px;
    transition: 400ms;
   
   
}

.imag .btn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    background-color:#bd76fc;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    display: none;
    opacity: 0.7;
}

.imag .delete{
    position: absolute;
    top:7%;
    left: 95%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    background-color:#bd76fc;
    color: black;
    padding: 6px 12px;
    border: none;
    cursor: pointer;
    border-radius: 100px;
    opacity: 0.7;
    font-size: 20px;
}
.imag .delete:hover{
    opacity: 1;
}
/* .imag img:hover{
    
    transform: scale(1.03);
    filter: blur(1px);
    -webkit-filter: blur(1px);
    background-color:#f9c2ce;
} */


.imag .btn:hover{
    opacity: 1;
}


.imag img:hover +.btn, .btn:hover{

    display: inline-block;
}


form{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;  

}

.download{
    text-decoration: none;
    color: white;
}

/* .logout-button{
    transform: translateX(100px);
} */

/* .logout{
    text-decoration: none;
    background-color:#f7aabb;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

@media only screen and (max-width: 670px){
    .logout-button{
        transform: unset;
    }
} */

/* .btn{
    display: none;
}
.images img:hover +.btn,.btn:hover{
    display: inline-block;
    color: black;
    opacity: 1;
} */

/* .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    transition: background 0.5s ease;
  }
  
  images:hover .overlay {
    display: block;
    background: rgba(0, 0, 0, .3);
  }
  
  img {
    position: absolute;
    width: 500px;
    height: 300px;
    left: 0;
  }
  
  .button {
    position: absolute;
    width: 500px;
    left:0;
    top: 180px;
    text-align: center;
    opacity: 0;
    transition: opacity .35s ease;
  }
  
  .button a {
    width: 200px;
    padding: 12px 48px;
    text-align: center;
    color: white;
    border: solid 2px white;
    z-index: 1;
  }
  
  .container:hover .button {
    opacity: 1;
  }
  
 */